body{
	background-image: url("../images/background.jpg");
	background-size: 100% 100%;

}

#header {
	width: 50%;
	height: 50px;
	color: green;
	border: solid 2px;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
}

#instructions {
	width: 30%;
	color: purple;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 18px;
}



div{
	background-color: none;
	margin: 10px;
	width: 40%
}
div{
	padding: 10px;
}

span {
	font-weight: bold;
	text-align: center;
	color: #FFA500;
}
h1{
	font-size: 30pt;
	text-align: center;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 30px;
}



.numberToMatch, .winsAndLosses {
	float: left;
	width: 15%;
	height: 30px;
	color: #CD5C5C;
	border: solid 2px;
	font-family: 'Shadows Into Light Two', cursive;
}

.userTotal{
	width: 15%;
	height: 40px;
	color: #CD5C5C;
	border: solid 2px;
	font-family: 'Shadows Into Light Two', cursive;
}

.gems{
	clear: both;
}

.seasonImage{
	height: 50px;
	width: 50px;
	margin: 5px;
}

}
